<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
    Location
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="gotToMyLocation()"><ion-icon ios="ios-locate" md="md-locate"></ion-icon></button>
      <button ion-button (click)="addActionSheet()"><ion-icon name="more" md="md-more"></ion-icon></button>
    </ion-buttons> 
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="place-container">
    <p>
      <input type="text" placeholder="Search Location" id="directionFrom"/>
    </p>
    <div *ngIf="directionStatus">
      <p >
        <input type="text" placeholder="To" id="directionTo"/>
      </p>
      
      <table class="full-table" >
        <tr>
          <td *ngFor="let type of directionType" class="text-center">
            <button ion-button (click)="changeDirectionType(type)"   icon-only color="primary" [outline] = "directionFrm.type != type.value">
                <ion-icon name="car" *ngIf="type.name=='Driving'"></ion-icon>
                
                <ion-icon name="walk" *ngIf="type.name=='Walking'"></ion-icon>
                <ion-icon name="train" *ngIf="type.name=='Transit'"></ion-icon>
            </button>
          </td> 
          <!--  -->
          <td class="text-center" >
            <button ion-button icon-only outline (click)="showDirectionDetails()" *ngIf="directionFrm.start.address!='' && directionFrm.end.address!=''">
                <ion-icon name="share-alt"></ion-icon>
            </button>
          </td>
        </tr>
      </table>
      <div class="direction-details-container" id="directionDetailsContent" [ngClass]="directionDetailsStatus"></div>
    </div>
    <div *ngIf="nearByStatus">
        <input type="text" placeholder="Place Type" id="placeTypeText" (keyup)="autoCompleteList()" [(ngModel)]="placeType"/>
        <div *ngIf="autoCompletePlaceTypeList.length > 0" class="place-type-container">
            <span class="place-type" *ngFor="let placeType of autoCompletePlaceTypeList" (click)="selectPlaceType(placeType)">{{ placeType.name }}</span>
        </div>
        <div *ngIf="selectedPlaceType.length > 0" class="place-type-container">
          <strong>Selected Place Type</strong>
          <span class="place-type" *ngFor="let placeType of selectedPlaceType" (click)="removePlaceType(placeType)">{{ placeType.name }} <ion-icon name="close" ></ion-icon></span>
      </div>
      <button ion-button color="primary" (click)="searchNearByPlace()" [disabled]="selectedPlaceType.length == 0">Search</button>
      <button ion-button color="primary" *ngIf="nearByPlaceList.length >0" (click)="showNearByDetails()"><span *ngIf="nearbyDetailsStatus">Hide Details</span>
        <span *ngIf="!nearbyDetailsStatus">Show Details</span></button>
      <button ion-button color="danger" (click)="nearByStatus=false">Hide</button>

      <div class="near-by-search-details-container" *ngIf="nearbyDetailsStatus">
        <div class="nearby-details" *ngFor="let place of nearByPlaceList">
          <img *ngIf="place.photos && place.photos.length > 0" src="{{place.photos[0].getUrl({'maxWidth': 400, 'maxHeight': 400})}}" />
          <span class="place-action">
              <button ion-button outline color="primary" (click)="getPlaceDetails(place)" class="near-by-details-button">Details</button>
            <button ion-button outline color="primary" (click)="goToPlace(place)" class="near-by-details-button"> Go to map</button>
            <button ion-button outline color="primary" (click)="goToDirection(place)" class="near-by-details-button">  Direction</button>
          </span>
          <span class="place-name">{{ place.name }}</span>
          <span class="place-address"><ion-icon ios="ios-pin" md="md-pin"></ion-icon> {{ place.vicinity }}</span>
          <p class="place-open" *ngIf="place.opening_hours">
            <span class="{{ (place.opening_hours.open_now)? 'open':'close' }}">{{ (place.opening_hours.open_now)? 'Open':'Close' }}</span> now
          </p>
          <span class="place-rating">
            <rating *ngIf="place.rating"
                    readOnly="true"
                    max="{{place.rating}}"
                    emptyStarIconName="star-outline"
                    halfStarIconName="star-half"
                    starIconName="star" 
                    nullable="false"
                    > 
            </rating></span>
            
        </div>
        
      </div>
    </div>
  </div>
  <div #map id="map"></div>

</ion-content>
