<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
    Location
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="addActionSheet()">Action</button>
    </ion-buttons> 
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="place-container">
    <p>
      <input type="text" placeholder="Search Location" id="directionFrom"/>
    </p>
    <div *ngIf="directionStatus">
      <p >
        <input type="text" placeholder="To" id="directionTo"/>
      </p>
      
      <table class="full-table" >
        <tr>
          <td *ngFor="let type of directionType" class="text-center">
            <button ion-button (click)="changeDirectionType(type)"   icon-only color="primary" [outline] = "directionFrm.type != type.value">
                <ion-icon name="car" *ngIf="type.name=='Driving'"></ion-icon>
                
                <ion-icon name="walk" *ngIf="type.name=='Walking'"></ion-icon>
                <ion-icon name="train" *ngIf="type.name=='Transit'"></ion-icon>
            </button>
          </td> 
          <!--  -->
          <td class="text-center" >
            <button ion-button icon-only outline (click)="showDirectionDetails()" *ngIf="directionFrm.start.address!='' && directionFrm.end.address!=''">
                <ion-icon name="share-alt"></ion-icon>
            </button>
          </td>
        </tr>
      </table>
      <div class="direction-details-container" id="directionDetailsContent" [ngClass]="directionDetailsStatus"></div>
    </div>
    <div *ngIf="nearByStatus">
        <input type="text" placeholder="Place Type" id="placeTypeText" (keyup)="autoCompleteList()" [(ngModel)]="placeType"/>
        <div *ngIf="autoCompletePlaceTypeList.length > 0" class="place-type-container">
            <span class="place-type" *ngFor="let placeType of autoCompletePlaceTypeList" (click)="selectPlaceType(placeType)">{{ placeType.name }}</span>
        </div>
        <div *ngIf="selectedPlaceType.length > 0" class="place-type-container">
          <strong>Selected Place Type</strong>
          <span class="place-type" *ngFor="let placeType of selectedPlaceType" (click)="removePlaceType(placeType)">{{ placeType.name }} <ion-icon name="close" ></ion-icon></span>
      </div>
      <button ion-button color="primary" (click)="searchNearByPlace()">Search</button>
      <button ion-button color="primary" (click)="showNearByDetails()"><span *ngIf="nearbyDetailsStatus">Hide Details</span>
        <span *ngIf="!nearbyDetailsStatus">Show Details</span></button>
      <button ion-button color="danger" (click)="nearByStatus=false">Hide</button>

      <div class="near-by-search-details-container" *ngIf="nearbyDetailsStatus">
        <table class="full-table">
          <tr *ngFor="let place of nearByPlaceList" (click)="goToPlace(place)">
            <td>
              <img [src]="place.icon"/>
            </td>
            <td>
              <span class="place-name">{{ place.name }}</span>
              <span class="place-address">{{ place.vicinity }}</span>
              <span class="place-rating"><strong>Rating </strong>{{ place.rating }}</span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div #map id="map"></div> 
</ion-content>
