<!--
  Generated template for the LocationPlaceDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title></ion-title>
    
  </ion-navbar>

</ion-header> -->


<ion-content>
  <span (click)="viewCtrl.dismiss()" class="close-btn"><ion-icon name="close" md="md-close"></ion-icon>
  </span>
  <div class="place-details-container">
    <div class="place-details-header">
        <p class="place-name">{{ place.name }}</p>
        <p class="place-rating">
          <rating *ngIf="place.rating"
                  readOnly="true"
                  max="5"
                  [(ngModel)] ="place.rating"
                  emptyStarIconName="star-outline"
                  halfStarIconName="star-half"
                  starIconName="star" 
                  nullable="false"
                  > 
          </rating></p>
          
    </div>
  </div>
  <div class="place-details-content">
      <div class="tab-header">
        <ion-grid>
            <ion-row>
              <ion-col><span (click)="activeTab=1" class="{{ (activeTab==1)?'active':'' }}">Overview</span></ion-col>
              <ion-col><span (click)="activeTab=2" class="{{ (activeTab==2)?'active':'' }}">Reviews</span></ion-col>
              <ion-col><span (click)="activeTab=3" class="{{ (activeTab==3)?'active':'' }}">Photos</span></ion-col>
            </ion-row>
        </ion-grid>
      </div>
      <div class="tab-body">
        <div class="tab-container" *ngIf="activeTab==1">
            <p class="place-address"><ion-icon ios="ios-pin" md="md-pin"></ion-icon> {{ place.vicinity }}</p>
            <p class="place-phone-no" *ngIf="place.formatted_phone_number"><ion-icon name="call" md="md-call"></ion-icon> {{ place.formatted_phone_number }}</p>
            <div *ngIf="place.opening_hours">
              
              <div class="place-open-hours" *ngIf="place.opening_hours.weekday_text">
                  <div class="place-open-header">
                    <label class="place-open-heading">Open Hours</label>
                    <label class="place-open" >
                        <span class="{{ (place.opening_hours.open_now)? 'open':'close' }}">{{ (place.opening_hours.open_now)? 'Open':'Close' }}</span> now
                    </label>
                  </div>
                  <ion-grid>
                      <ion-row *ngFor="let wDay of place.opening_hours.weekday_text">
                        <ion-col class="open-grid-content">{{ wDay }}</ion-col>
                      </ion-row>
                  </ion-grid>
                </div>
            </div>
        </div>
        <div class="tab-container" *ngIf="activeTab==2">
          <div class="review-container" *ngIf="place.reviews && place.reviews.length > 0">
            <ion-grid>
                <ion-row *ngFor="let review of place.reviews">
                  <ion-col>
                      <div class="review-sub-container">
                        <div class="user-icon">
                          <span class="review-author">{{ review.author_name }}</span>
                          <span class="review-time">{{ review.relative_time_description }}</span>
                          <div class="review-rating">
                              <rating *ngIf="review.rating"
                                    readOnly="true"
                                    max="5"
                                    [(ngModel)]="review.rating"
                                    emptyStarIconName="star-outline"
                                    halfStarIconName="star-half"
                                    starIconName="star" 
                                    nullable="false"
                                    > 
                            </rating>
                          </div>
                        </div>
                        <div class="review-msg">
                          {{review.text}}
                          
                        </div>
                      </div>
                  </ion-col>
                </ion-row>
            </ion-grid>
          </div>
        </div>
        <div class="tab-container" *ngIf="activeTab==3">
          <div class="photo-container" *ngIf="place.photos && place.photos.length > 0">
            <span *ngFor="let photo of place.photos">
                <img  src="{{photo.getUrl({'maxWidth': 400, 'maxHeight': 400})}}" />
            </span>
          </div>
        </div>
      </div>
  </div>
</ion-content>
